# Force LF line endings for all text files
* text=auto eol=lf

# Unity YAML files (scenes, prefabs, scriptable objects)
*.unity text
*.prefab text
*.asset text
*.meta text

# Don't touch binary files
*.png binary
*.jpg binary
*.jpeg binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
Library/ArtifactDB
Library/Artifacts/03/0341d83b760b57e2bbeec68b437ca511
Library/Artifacts/03/037d978eb8a3c30a835b5454de188a67
Library/Artifacts/03/03a1d56ebe7139876f7c01666744d033
Library/Artifacts/05/0586fd50d0b10dd64d73a41231515167
Library/Artifacts/06/06a0ab60cdff0ab9a38a57cbc1066f2a
Library/Artifacts/07/07549ccc4f81a64eb12ebc6fb40ea373
Library/Artifacts/0b/0bc1c1fa50de7515efd24d0691c8f95d
Library/Artifacts/0c/0cd32f95fff7b59091b66da41191cdc3
Library/Artifacts/0d/0d067489097f136ab03c673f8fe0ee2e
Library/Artifacts/0f/0f4d072cd278c12f6925cead68cf2320
Library/Artifacts/11/11539a82bc51cb961cb0857b205022d2
Library/Artifacts/13/1332ee6437287b69732218ba0a1f968a
Library/Artifacts/16/16de42c9cc273a047260e20a20db2150
Library/Artifacts/17/17c7e99a60d2f2e2df4dc9c176cf72c1
Library/Artifacts/19/198077f81f77626de9c0b2d817539dfb
Library/Artifacts/1c/1c40ed809ba6ea47672466081266631b
Library/Artifacts/1c/1cbc1e537845c2af02df052ec7faba2f
Library/Artifacts/1c/1cfc93223d94fc68425bff99130b4f0d
Library/Artifacts/1e/1ef084f4bde925108de2386ca5ff5fb4
Library/Artifacts/21/215b276575f2ce8cd8367802531f476a
Library/Artifacts/21/2195a537467b91670c6e53f4db12ff10
Library/Artifacts/21/21c6a30c3692e8e526e1e3df69930b08
Library/Artifacts/21/21db26a5be7c0dba8ffbd4c91c2b6e81
Library/Artifacts/21/21de80a6430ce295fe135c3d5309fcae
Library/Artifacts/23/232333946cbe010045c7893f67170560
Library/Artifacts/25/2587ce0aed39b2b6893c41975f300c0b
Library/Artifacts/27/27f13ec916acf99ef53ff526e0111baf
Library/Artifacts/29/299e0d4831ab7505a09d2e911b3aa838
Library/Artifacts/29/29c95a8cbcd737943b6b1195123cff6e
Library/Artifacts/29/29f7370620c72a0abffd8de7442f4ef9
Library/Artifacts/2b/2b453d39e1147fb02af575b23dcdbf78
Library/Artifacts/2c/2c0cce94b8fc0569d44a0e374cbb3280
Library/Artifacts/2e/2e846c6447eccdce46aa7a1fdf5aa8b8
Library/Artifacts/2f/2f7b23991d4e99bfd749f2c27ba06efd
Library/Artifacts/32/321a38fa2018765621e38227564ff0ef
Library/Artifacts/33/332c19d3ec247a355b6d67c0a3ea1203
Library/Artifacts/34/346c9ef8cb1ed5405844925e6f62d1b3
Library/Artifacts/35/353eeba3d1816d11d7ffd57c11c9d3f6
Library/Artifacts/37/37a3a871f6f1dc116c0451e891a41370
Library/Artifacts/39/39d3404d6df38251baf9ae5065df61d5
Library/Artifacts/3e/3e570e38036c08bd55c94812eb278bf9
Library/Artifacts/3e/3efab9ce23cf60f62c0093e48e19c6a7
Library/Artifacts/41/41237e712612eecbff16a3c7a913f664
Library/Artifacts/43/438036f7b645026c2dfffea3b3d080ee
Library/Artifacts/45/452b046a1dd2f78dff9ff49ca5efa9f3
Library/Artifacts/48/487758a1f82f621ad53b93d676de9f6d
Library/Artifacts/49/49ad80f431382f7f2d3819d28bab35d9
Library/Artifacts/4a/4a45eb90dee72561cee257a5000b1c48
Library/Artifacts/4b/4bfba8b21271523bf66171a742a62ffa
Library/Artifacts/4d/4d8c6b48ac020c06d0c49782531aef64
Library/Artifacts/52/529d41448ee94e7bf004d5716c390292
Library/Artifacts/52/52cc650524b8b120f2b6dd740d078fbf
Library/Artifacts/5b/5b4fbbd88637f2ea96d4ba69157df744
Library/Artifacts/5b/5b6d7c98c9e860bfaf7fe45d8463b431
Library/Artifacts/5b/5bc3390f8130c397a461b89e04a02063
Library/Artifacts/5b/5bce7c9d444064ec182fec493cd9f0ed
Library/Artifacts/5c/5cbfb53d02e29d3d961ca664e8a7d33a
Library/Artifacts/5d/5db01cbeab8684b1074afffde3913c25
Library/Artifacts/5e/5ee96c4d530e837cd3b8c1b0b215b3a6
Library/Artifacts/5f/5f52f4bf43f0790c92c9e48d69b24d0b
Library/Artifacts/60/6024e958aedcbfad6c51b627bd1179e9
Library/Artifacts/61/6151c2142bb1dc867d1b6bc53326fed7
Library/Artifacts/63/6317d8b65da4182f85784044cd453685
Library/Artifacts/68/68c5a1faf752aaa5680594d91c7650be
Library/Artifacts/6a/6a5d85f9670eaeb46155c511a9749458
Library/Artifacts/6a/6ac086dc02947c590040e3d699b22d63
Library/Artifacts/6b/6bfa17dab268e89df709b5b9c27c9fa4
Library/Artifacts/6e/6eea867a0e1409ec4efb4468d9e5f892
Library/Artifacts/71/71536bfb6772085a1cd884504728fd99
Library/Artifacts/72/7253182de913566cef539186abc0bc4f
Library/Artifacts/72/72dea5a35e649fc619b95337f15d449f
Library/Artifacts/73/73cd2bf4ae24365492b0b4b378083a88
Library/Artifacts/73/73f15a608cb1aada35a1117329717226
Library/Artifacts/76/76310e70b18ad3a4c1c83963041e359a
Library/Artifacts/76/76794cedf422ad475563aa129a8cbb0e
Library/Artifacts/76/7679eaf9e1d8e691f09f34172e4ea214
Library/Artifacts/77/7720b764168fea930a522774b10862bb
Library/Artifacts/78/78a286f0b2ea8c50e3e9372c0df6d726
Library/Artifacts/78/78b014e3f59228f118cb86fc65a39d0c
Library/Artifacts/79/79b4fe8ea1f61f3703c3f2e63461f883
Library/Artifacts/7a/7a2238ace19d670a87b438a50894cd27
Library/Artifacts/7a/7a745cfffa35218bf776f2fb783e5bf5
Library/Artifacts/7a/7afb598c7b29b04d39fc2a0d8e735dc9
Library/Artifacts/7b/7bbfe732646ba3e7cd619c1eb3cac676
Library/Artifacts/7d/7d55d888ba8cfb1f67848fa4454c899f
Library/Artifacts/7d/7d6a21beda4d65f6d096a32dbc2d7605
Library/Artifacts/80/8041278992ce9fa4216379f97dc04365
Library/Artifacts/83/832e1f5e1ace0cd290752652937ec66c
Library/Artifacts/83/83a5ee783038bc3e348d30fc36e45f3a
Library/Artifacts/86/86315924928ed81db3d140b334a04657
Library/Artifacts/89/8907619484a0b06b998d970019994f1c
Library/Artifacts/89/8980a41930b83a32fb9de939bfc45361
Library/Artifacts/8a/8a081b5aafc72cd0f9b80268dfa6243f
Library/Artifacts/8a/8af06e0bc457019e1c390375129160f5
Library/Artifacts/8e/8e046119240f6f9eec94568c78901cf9
Library/Artifacts/8f/8f07fb7f2be45e14bf08399aea3bf071
Library/Artifacts/96/968252623d08855fe1bd10f042777b9d
Library/Artifacts/96/96fd1754774ef3ff5462210a054fb6a8
Library/Artifacts/97/97cb22e832a2138f35ab309d562c0311
Library/Artifacts/9b/9b407633925d3d1015e9a7b0bc7bc046
Library/Artifacts/9d/9dcd2c4303382edd619caec4de666ae1
Library/Artifacts/a0/a02ce641088e286210f409c97c95b419
Library/Artifacts/a2/a21cd0775ef3cd4e4267da104437e6ac
Library/Artifacts/a2/a2b35b2a69784d95bc6bcc89aacbcb35
Library/Artifacts/a3/a3041a8ab6d97bd38c8e13d8e2889cd9
Library/Artifacts/a4/a42844d171fd408a849c551c295859a1
Library/Artifacts/a5/a56958b5817b33183303ead452ec387d
Library/Artifacts/a6/a6f79c57183dc6f84c13ce2386252ca8
Library/Artifacts/a8/a8e770dcd71ee5ce5bf8871db402430a
Library/Artifacts/ac/ac1f8cdc30143c2b81b7860cabde2c80
Library/Artifacts/ad/ade96d2c81412dfb034fd45b24c08f33
Library/Artifacts/ae/ae3269b27a6a7065179555bc88900141
Library/Artifacts/b1/b1486f62c108d31a5fcb457ec43d2ba3
Library/Artifacts/b5/b5d24ac0ebcbc79f229ca915dab45b05
Library/Artifacts/b7/b70dfdf7ef26c1fac009c550d87308dc
Library/Artifacts/b7/b7b29e769804d9245ab9cd604ccf9c56
Library/Artifacts/b7/b7d7a01ee73b736dc99581c40f466559
Library/Artifacts/b8/b88e58283972890057ac5ad3d30b4453
Library/Artifacts/bb/bbb5dd3ec577d452eef43c3815bc8df7
Library/Artifacts/be/be1e458dada42320fd21e12f874057d9
Library/Artifacts/bf/bf62a6e9a0967d5599ec12ffea24c7b8
Library/Artifacts/c4/c4e87755510f04cda993864f6bd9713c
Library/Artifacts/c5/c53ebb060a009b0832844d4be408ac37
Library/Artifacts/c5/c5b3d10ed0c806daeba7918aad971c00
Library/Artifacts/c7/c7417e1f372f96cf1101b8f124af98e0
Library/Artifacts/cb/cb9e62d8382d6b97fca92d86bf19a74a
Library/Artifacts/ce/ce1108bbb7de635136706ea5f846fd52
Library/Artifacts/d1/d17138a927c9f43f03a1e9cd2e20076d
Library/Artifacts/d1/d1de1b12d919f2283a2de3a8bd310fec
Library/Artifacts/d4/d45a42ec2395e87829c0f84d39183b50
Library/Artifacts/d4/d45b8544a20032d5093c1b99eb89cdce
Library/Artifacts/d5/d5c98da70c23914f3e0b01e07fc19b4c
Library/Artifacts/d7/d77b7fa1f93388be2edca75bedbf75a9
Library/Artifacts/dc/dc81e9d4ba410b1c3715c51eada41b29
Library/Artifacts/df/df1cfabe59bf43b6204283526d741c7c
Library/Artifacts/e3/e3d64d14540590a70d740d485106179a
Library/Artifacts/e4/e4042418e35a6c857b75f74504920beb
Library/Artifacts/e7/e72699ade08eb01e647848764851b750
Library/Artifacts/e8/e82542652ab680395e480b31779784cb
Library/Artifacts/e8/e8c06826ade20afdce59310fdba042fd
Library/Artifacts/e9/e95cdf2009b8f642d07213549ceba20a
Library/Artifacts/ec/ec8a81ad8e56a96d2c83a78e75e3cda6
Library/Artifacts/ec/ecac0f6f1a7c1c9eab2d153b4cd12b51
Library/Artifacts/ed/ed21f0baf36672bb8a907894aa03cc4b
Library/Artifacts/ed/ed35962f4f42ef88a45a36c53d736197
Library/Artifacts/ed/ed67e22683c2cdb3401ee7a50ea4f3eb
Library/Artifacts/f3/f381676863cb8daf23c434f82e9caac1
Library/Artifacts/f3/f3fcafe9b8a9318bb49bc2ea33d45b89
Library/Artifacts/f6/f68ea41c58f53215dd2c1ef85bfb190d
Library/Artifacts/f6/f6f6d5bcf706a8f33a027a3e864eb286
Library/Artifacts/f7/f79f3a2ebdf743356e8398c7d0b7e270
Library/Artifacts/f9/f9594ef91c8ec0956e47caacca658f01
Library/Artifacts/fa/fabe5a02b4ef6996c28a0f7b30d8e421
Library/Artifacts/fc/fc6b91daab16827317ba2cf2c657d57b
Library/Artifacts/fd/fddfe6bb2da0fd3e1a8f68abfae4e84b
Library/Artifacts/ff/ff1f2aef497aab85eebc1262fcc17381
Library/Bee/1900b0aE-inputdata.json
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag.outputdata
Library/Bee/1900b0aE.dag_derived
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.dll
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.pdb
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.dll
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.pdb
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.dll
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.pdb
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.dll
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.pdb
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.AdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.dll
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.dll.mvfrm.rsp
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.pdb
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.rsp
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Antlr3.Runtime.dll_36DC71E8DDEF9705.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Antlr3.Runtime.dll_898C06FED0DA613B.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Newtonsoft.Json.dll_B6C69553D1458F60.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.Plastic.Newtonsoft.Json.dll_CB6F41291E014ECA.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Antlr3.Runtime.dll_6F66905BF1576DC7.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.Antlr3.Runtime.dll_EC08573F14754FDD.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.IonicZip.dll_71A24B93CAE45C1E.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.IonicZip.dll_71A57F3A5B7F1514.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.TextureAssets.dll_551792CE815BBBA0.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.TextureAssets.dll_D1B959B1A4799DB6.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.YamlDotNet.dll_3A9B305DE3AC3FBE.mvfrm
Library/Bee/artifacts/mvdfrm/Unity.VisualScripting.YamlDotNet.dll_BDF9697AC08E5DA8.mvfrm
Library/Bee/backend_profiler0.traceevents
Library/Bee/backend_profiler1.traceevents
Library/Bee/buildprogram0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/EditorInstance.json
Library/expandedItems
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.EditorCoroutines.Editor.dll
Library/ScriptAssemblies/Unity.EditorCoroutines.Editor.pdb
Library/ScriptAssemblies/Unity.Performance.Profile-Analyzer.Editor.dll
Library/ScriptAssemblies/Unity.Performance.Profile-Analyzer.Editor.pdb
Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Library/ScriptAssemblies/Unity.PlasticSCM.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.Settings.Editor.dll
Library/ScriptAssemblies/Unity.Settings.Editor.pdb
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.dll
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.dll
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.pdb
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.dll
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.pdb
Library/ScriptAssemblies/Unity.TestTools.CodeCoverage.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.VisualScripting.Core.dll
Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll
Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.pdb
Library/ScriptAssemblies/Unity.VisualScripting.Core.pdb
Library/ScriptAssemblies/Unity.VisualScripting.Flow.dll
Library/ScriptAssemblies/Unity.VisualScripting.Flow.Editor.dll
Library/ScriptAssemblies/Unity.VisualScripting.Flow.Editor.pdb
Library/ScriptAssemblies/Unity.VisualScripting.Flow.pdb
Library/ScriptAssemblies/Unity.VisualScripting.SettingsProvider.Editor.dll
Library/ScriptAssemblies/Unity.VisualScripting.SettingsProvider.Editor.pdb
Library/ScriptAssemblies/Unity.VisualScripting.Shared.Editor.dll
Library/ScriptAssemblies/Unity.VisualScripting.Shared.Editor.pdb
Library/ScriptAssemblies/Unity.VisualScripting.State.dll
Library/ScriptAssemblies/Unity.VisualScripting.State.Editor.dll
Library/ScriptAssemblies/Unity.VisualScripting.State.Editor.pdb
Library/ScriptAssemblies/Unity.VisualScripting.State.pdb
Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker3-prev.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Temp/__Backupscenes/0.backup
Temp/FSTimeGet-1ebe199bcb5a04f468d51d15908c8bcf
Temp/FSTimeGet-d4a713fdcd89e544abccfdcd75244ee0
Temp/FSTimeGet-dafeed9e373d79747b581d6ec6ccf208
Temp/UnityLockfile
Temp/workerlic
UserSettings/Layouts/default-2021.dwlt
